* {
  margin: 0;
  box-sizing: border-box;
}

body {
  line-height: 2em;
}
/* -----------------------Header-------------------------------------------------------- */
  .header{
     
  }

  .trybewarts-header-logo{

  }

  #trybewarts-header-title{
  
  }

  .trybewarts-login{

}

/* ---------------------------------------------------------------------------------- */
main {
  display: flex;
  /* border: solid 4px violet; */
  justify-content: space-evenly;
}

/* ---------------------------Formulário Principal------------------------------------ */
#main1{
  /* border: solid 4px red; */
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
}

#form-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
  height: 100%;
}

#name-lastname {
  width: 100%;
}

#input-name , #input-lastname {
  border: none;
  border-radius: 5px;
  width: 49%;
  height: 40px;
}

#email-house {
  font-weight: 800;
}

#input-email {
  border: none;
  border-radius: 5px;
  width: 49%;
  height: 40px;
}

#house {
  border-radius: 5px;
  width: 42.4%;
  height: 38px;
}

#families-contents {
  display: flex;
  justify-content: flex-start;
  font-size: 1.13em;
}

#families {
  display: flex;
  flex-direction: column;
  width: 40%;
}

#what-family-options {
  display: flex;
  flex-direction: column;
  width: 70%;
}

#label-family {
  width: 100%;
}

#family-options {
  display: flex;
  flex-direction: column;
  height: 100px;
  align-items: flex-start;
}

#contents {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#label-content {
  display: flex;
  flex-wrap: wrap;
}

#checkbox-options {
  display: flex;
  flex-wrap: wrap;
}

.content-option {
  display: flex;
  width: 30%;
}

#label-rate {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  font-size: 1.13em;
}

.textarea {
  font-size: 1.13em;
}

#coment {
  resize: vertical;
  width: 100%;
}

#label-agreement {
  font-size: 1.13em;
}

#submit-btn {
  border-radius: 5px;
  background-color: rgb(106, 25, 236);
  color: white;
  height: 35px;
}

/* -------------------------------Logo Principal------------------------------ */
#image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
}

#trybewarts-forms-logo {
  height: 500px;
  width: 70%;
}

footer {
  background: rgba(3, 11, 32, 0.9);
  color: white;
  text-align: center;
}
