*{
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    line-height: 1.5em;
  }
/* -----------------------Header-------------------------------------------------------- */
  .header{
     
  }

  .trybewarts-header-logo{

  }

  #trybewarts-header-title{
  
  }

  .trybewarts-login{

  }
/* ------------------------------------------------------------------------------------------ */
main{
  display: flex;
}
/* ---------------------------Formulário Principal------------------------------------------------ */
#evaluation-form{
  display: flex;
  width: 675px;
}


/* -------------------------------Logo Principal--------------------------------------------------- */
#image{

}

#trybewarts-forms-logo{

}