*{
  margin: 0;
  box-sizing: border-box;
  }
  
  body {
  line-height: 1.5em;
  }
/* -----------------------Header-------------------------------------------------------- */
  .header{
     
  }

  .trybewarts-header-logo{

  }

  #trybewarts-header-title{
  
  }

  .trybewarts-login{

  }
/* ------------------------------------------------------------------------------------------ */
main{
  display: flex;
}
/* ---------------------------Formulário Principal------------------------------------------------ */
#evaluation-form{
  display: flex;
  flex-direction: column;
  width: 675px;
}

#name-lastname{
  width: 100%;
}

#input-name, #input-lastname{
  border: none;
  border-radius: 5px;
  width: 49%;
  height: 40px;
}

#email-house{
  font-weight: bold;  
}

#input-email{
  border: none;
  border-radius: 5px;
  width: 49%;
  height: 40px;
}

#house{
  border-radius: 5px;
  width: 42.4%;
  height: 38px;
}

#families{
  border: solid 1px yellow;
  display: flex;
  flex-direction: column;
  width: 30%;
}

#family-options{
  border: solid 1px brown;
  display: flex;
  flex-direction: column;
  height: 100px;
}

/* -------------------------------Logo Principal--------------------------------------------------- */
#image{

}

#trybewarts-forms-logo{

}